In [47]:
import pandas as pd
import numpy as np
import os
import glob as gb
import sys
#from sqlalchemy import create_engine
sys.path.insert(0, "../../")
from clases.bd.conexion2 import MyDatabase2
conn = MyDatabase2() 
anio=2024

sql="""SELECT c.nu_doc_madre FROM maestros.cnv c WHERE  EXTRACT(YEAR FROM c.fe_nacido) = %s"""% (anio)
cnv=conn.df(sql) 

his=f"""
    SELECT a.id_tipo_documento, a.numero_documento, a.semana, a.id_establecimiento
    FROM (
        SELECT DISTINCT
            mp.id_tipo_documento,
            mp.numero_documento,
            ROUND((current_date - nt.fecha_ultima_regla) / 7) AS semana,
            nt.id_establecimiento,
            ROW_NUMBER() OVER (PARTITION BY mp.id_tipo_documento, mp.numero_documento, nt.anio ORDER BY nt.fecha_atencion DESC) AS rn
        FROM maestros.nominal_trama nt
        LEFT JOIN maestros.maestro_paciente mp ON mp.id_paciente = nt.id_paciente 
        WHERE (nt.codigo_item LIKE ANY (ARRAY['Z349%', 'Z359%']) OR nt.id_otra_condicion = 1) AND nt.anio = {anio}
    ) AS a
    WHERE a.rn = 1 AND a.semana < 45
""" 
#print(his)
his=conn.df(his)


#df1_sin_df2 = his[~his.isin(cnv.to_dict(orient='list')).all(axis=1)]
#df = df1_sin_df2.dropna()

# Selecciona solo las columnas necesarias de los DataFrames
#df1_sin_df2 = his[~his["numero_documento"].isin(cnv["nu_doc_madre"])]
#df = df1_sin_df2.dropna()

his["st"] = his["numero_documento"].isin(cnv["nu_doc_madre"]).astype(int)
his.fillna(0, inplace=True)
# Imprime el DataFrame his
print(his)

Conexion exitosa con la Base de datos:irvin_hisminsa

    SELECT a.id_tipo_documento, a.numero_documento, a.semana, a.id_establecimiento
    FROM (
        SELECT DISTINCT
            mp.id_tipo_documento,
            mp.numero_documento,
            ROUND((current_date - nt.fecha_ultima_regla) / 7) AS semana,
            nt.id_establecimiento,
            ROW_NUMBER() OVER (PARTITION BY mp.id_tipo_documento, mp.numero_documento, nt.anio ORDER BY nt.fecha_atencion DESC) AS rn
        FROM maestros.nominal_trama nt
        LEFT JOIN maestros.maestro_paciente mp ON mp.id_paciente = nt.id_paciente
        WHERE (nt.codigo_item LIKE ANY (ARRAY['Z349%', 'Z359%']) OR nt.id_otra_condicion = 1) AND nt.anio = 2023
    ) AS a
    WHERE a.rn = 1 AND a.semana < 45

      id_tipo_documento numero_documento  semana  id_establecimiento  st
0                     1         40731760    19.0                2383   0
1                     1         40703233    27.0                2314   0
2                     1         41396452    19.0                2320   1
3                     1         41100351    20.0                2347   0
4                     1         41267679    17.0                2539   0
...                 ...              ...     ...                 ...  ..
6113                  1         46619035    27.0                2289   0
6114                  1         44707080    27.0                2302   0
6115                  1         44404372    30.0                2380   0
6116                  1         48296849    32.0                2325   0
6117                  1         42782533    39.0                2444   0

[6118 rows x 5 columns]

In [51]:

conn.insert_df(his,'gestantes','materno')
his=conn.sql("CREATE INDEX gestantes_numero_documento_idx ON materno.gestantes (numero_documento,id_tipo_documento);")

#df_sin_duplicados.to_sql(table_name, engine,schema='maestros', if_exists='replace', index=False)

DataFrame insertado en la tabla gestantes

buscar gestantes

In [4]:
# Convierte los DNIs a una lista
dnis = df['numero_documento'].tolist()
# Convierte los DNIs en una cadena separada por comas para usar en la consulta SQL
numeros_dni_str = ','.join(["'" + str(dni) + "'" for dni in dnis])

# Crea la consulta SQL con una cláusula WHERE para filtrar por los DNIs
# Consulta SQL con los números de DNI
sql = f"SELECT nt.*  FROM maestros.nominal_trama2 nt "\
      f"INNER JOIN maestros.maestro_paciente mp ON mp.id_paciente =nt.id_paciente  " \
      f"WHERE mp.numero_documento IN ({numeros_dni_str}) and nt.anio=2023"
print(sql)
gestantes=conn.df(sql)
#print(sql)

SELECT nt.*  FROM maestros.nominal_trama2 nt INNER JOIN maestros.maestro_paciente mp ON mp.id_paciente =nt.id_paciente  WHERE mp.numero_documento IN ('41396452','41917626','42140092','41272708','23979987','41597138','41019632','40882253','40778597','41895302','40737607','41949518','41398930','41148687','25012583','41145439','41830067','25324117','40591675','41727423','41911368','40647198','41139046','40886156','45277134','77792635','60572374','62215156','46644189','74572549','76134272','45080743','46558310','45318401','61243394','43812751','44595060','73648436','75822412','48918683','71803050','48371251','73117821','43262315','75944205','77041319','76690605','73431519','70461959','78008963','71964789','43903839','75872115','74277420','77542501','44530739','76353996','76072411','73600550','76381200','76465079','74245374','72169501','71794690','77138645','70080768','73299683','73364769','48451484','47190931','45875532','75749714','77166112','78716600','48332057','47363410','48248132','74398600','81596397','77700254','45887785','71054246','60119806','76230069','74094457','60629456','75901772','63364373','48615647','78721331','47015919','60493200','73782594','60294594','76806281','72405291','76368406','75572729','73328797','71513936','76789157','72227044','71199322','73230448','71126154','76403140','62045674','45672475','42731030','47746467','43543528','45902922','76806917','70498542','73217082','73105835','74495619','76989303','48292832','75857570','73737141','61299632','48084379','74403537','71194335','48401849','74282005','75889500','60650945','42474356','74476867','71290909','45085875','45001226','73503084','90822980','47692135','45417880','75425688','75119598','73854347','60572340','77502783','47275991','74062115','44274601','48775031','48783471','44403406','74447975','75370099','76915163','73320504','47947689','73536073','46802913','70585744','77055492','44481253','76681803','76776265','46346458','44146571','76981763','76571209','75695674','74999406','76136294','45346312','71126136','61486021','47781582','71212288','77226767','43510025','74173892','73950693','44361999','48014713','60117975','73743531','45242725','77920517','75888821','77096078','46161711','48398158','63299753','70925081','48104280','70032055','75485282','76650120','74632437','73320147','46575691','45119459','48650056','73319661','46878033','46974934','71293669','42436203','47001071','74402165','44455870','1471395','72946933','48364507','60472517','76838247','47980414','77815732','78198013','72741250','48300699','73805482','60657049','72181663','47685422','76667781','72805646','46286155','48108563','74545140','47807696','70219027','60150692','73090084','46262773','76032315','74527438','77429173','47081251','42422973','75207631','77574708','70020496','42381768','46851089','46927363','46679688','77416114','48590665','61607992','47605659','77802749','45816323','63359071','76972414','48492749','47003371','42929654','48018958','48101402','61569558','70416948','45865939','71780342','75627815','45045686','48425417','47123894','71442495','76456809','44525141','47380166','74702476','77077581','75476696','62331801','70381757','44209600','78372864','48666300','74638538','74249991','48290601','71718549','45667457','44706168','61115527','44228018','47862130','75822469','80909451','75263448','63172837','42723519','47433636','62045813','47432050','42747352','73990402','74462314','43460746','76039659','74244621','74876439','77420246','77671036','74370047','43815350','74279533','73440206','47336469','75050946','46768718','43098093','73569903','71543642','44915849','76403141','45226265','43953108','72903880','75820689','61169499','47612507','76599891','72448552','74310689','47244559','47797644','48042874','71788236','45987611','76030971','45309750','77486499','47090371','74313181','76603660','70279640','76184219','47673281','73757829','47479958','76383672','73473235','44966482','78113979','71245774','75945358','43045415','46503926','46357645','71798468','77491652','47279450','48213108','73782406','48500501','45563723','61202574','75251067','73861720','44046151','75729892','77687970','70979148','60496817','73886723','73953688','47218677','72582290','46483523','70342056','81550780','77572889','74252457','60019942','48383077','72098668','49005250','44672765','80911725','73602740','75757717','42220308','45003370','71654782','60149909','73798633','71512304','60925190','45322512','48111783','73620721','44982947','73825696','77059472','71665431','70577600','71591667','74434396','43370122','74179133','46374590','43258012','45327345','47876450','47294134','76138553','76521137','43851831','70899258','77502772','48465230','75238353','60568858','42929048','74413353','77487899','73783700','61580626','44926671','60118425','75700120','42351722','76618051','75954030','74441836','48041093','47303604','74282012','76818039','61401266','71302334','48027747','72252320','75968955','76534084','47559570','72271045','48452017','74914237','71859470','71194305','46899625','78007222','76049486','74082642','46913100','63276867','77699573','44797483','61080066','71783799','47642187','77333761','70828560','75625783','75061353','74884015','46951559','47713491','77327851','46864679','61239457','74424976','72014987','45821223','60569958','70269460','48389709','62192299','74244640','49022375','71961509','62045689','46877940','76578070','47134014','44390100','60645600','48433310','61120368','47859302','46616080','47920893','47133573','70919991','70516566','70784306','72312052','75678391','78717350','70331101','71735570','71798431','71035918','42758496','74319364','60280391','76020353','74639220','76554085','46694684','47406225','74152431','48161162','74447967','45895713','45547581','44283924','71728477','43746713','47975769','75863783','46910718','46404881','60392645','71120101','71801154','48448174','76961960','44668161','71892074','48840362','44655677','74979666','60202991','78459455','47697048','76911526','73386652','48887203','76861338','62742887','73969634','74537135','46107434','44918507','70420670','70243961','42211188','47269230','73962389','46725660','75839486','47947216','71196642','60897418','76305960','72163137','44249064','48150108','60538419','47355171','74089489','74689185','71742340','71813758','47471714','75660584','76988706','60324442','72451658','78105823','48816197','45593505','45038597','76078680','73417277','47055261','47412362','45804893','43514628','62353734','75860070','60147571','73347402','70883884','43308826','60209142','76537456','71786944','46992538','74476023','75675062','44547777','60572329','45852688','74401032','77678658','73970704','61073143','43125193','76137256','43247363','76212445','60281367','73237094','74700557','60234868','45118038','45369278','74364615','48232910','77541484','48615117','44653566','44702301','60149774','81284048','43349418','71005343','49010243','46969898','76363635','44175835','76818017','47356316','76061295','70160441','46805103','74393696','60410922','75776557','74502243','72407553','81005414','45788506','62268794','42726389','75369950','77385065','48094822','77530753','73886047','42241913','47995260','48464759','47598674','76595903','74147199','76827847','71219295','74228510','74355293','73982326','72420353','45865019','76953730','46374933','77904806','76287692','46947381','48853349','72948448','45282727','73970669','47434232','46534374','46738199','48870649','71141253','45081017','70462557','47481417','76913748','70822576','47851433','47972816','76910085','47826806','47369345','45665623','74583366','48164286','71908185','44137314','46494849','48790272') and nt.anio=2023

d:\Irvin\Irvin\Python\Python-GERESA\modulos\gestante\../..\clases\bd\conexion2.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  s = pd.read_sql(sql, con=self.conn)

KeyboardInterrupt: