In [4]:

from decouple import config
import pandas as pd
import numpy as np
import sys
sys.path.insert(0, config('PROYECTO_DIR'))
from clases.bd.conexion import  SQLServerConnector
conn = SQLServerConnector()
from sqlalchemy.types import (
    BigInteger, Integer, SmallInteger, String, Date, DateTime, Numeric, CHAR,VARCHAR,DATE,DATETIME,NVARCHAR
)

✅ Conexión exitosa a SQL Server DBGERESA

In [15]:
# Ruta del archivo Excel (puede ser relativa o absoluta)
archivo = config('PROYECTO_DATA') +"/data/Padron_N/PN_cusco.xlsx"

# Leer el archivo
df = pd.read_excel(archivo)

columnas = [
    "N°", "TipDoc", "COD_CNV", "CNV", "CUI", "DNI", "Estado_Tram_DNI", "Fecha_Tramite_DNI",
    "APELLIDO_PATERNO", "APELLIDO_MATERNO", "NOMBRES", "COD_SEXO", "FECHA_NACIMIENTO", "Edad_Niño",
    "EJE_VIAL", "DESCRIPCION", "REFERENCIA_DIRECCION","LATITUD","LONGITUD", "UBIGEO", "DEPARTAMENTO", "PROVINCIA", "DISTRITO",
    "CodCentroPoblado", "Nombre_CP", "AreaCP", "MENOR_VISITADO", "MENOR_ENCONTRADO", "FECHA _VISITA",
    "FUENTE_DATOS", "FECHA_FUENTE", "CODIGO_EESS_NACIMIENTO", "NOMBRE_EESS_NACIMIENTO", "CODIGO_EESS",
    "NOMBRE_EESS", "FRECUENCIA_ATENCION", "CODIGO_ADSCRIPCION", "NOMBRE_ADSCRIPCION", "TIP_SEGURO",
    "PROGRAMAS_SOCIALES", "COD_IIEE", "NOMBRE_IIEE", "TIPO_FAMILIAR", "Tip_Doc_Madre", "DNI_MADRE",
    "APELLIDO_PATERNO_MADRE", "APELLIDO_MATERNO_MADRE", "NOMBRES_MADRE_EDAD", "Nro_Celuar",
    "CORREO_ELECTRONICO", "GRADO_INSTRUCCION_MADRE", "LENGUA_HABITUAL_MADRE", "TIP_FAMILIAR",
    "Tip_Doc_Familiar", "DNI_JEFE_FAMILIA", "APELLIDO_PATERNO_JEFE_FAMILIA", "APELLIDO_MATERNO_JEFE_FAMILIA",
    "NOMBRES_JEFE_FAMILIA", "ESTADO_REGISTRO", "FECHA_REGISTRO", "USUARIO", "FECHA_MODIFICACION",
    "USUARIO_MODIFICA", "ENTIDAD", "TIPO_REGISTRO"
]
df.columns = columnas
df.head(5)
len(df)

118284

In [ ]:
# Limpiar espacios en los nombres de columna
df.columns = df.columns.str.strip()

# Convertir columnas numéricas
numerical_columns = ['N°', 'COD_CNV', 'CNV', 'CUI', 'DNI', 'COD_SEXO', 'LATITUD', 'LONGITUD', 'UBIGEO',
                     'CodCentroPoblado', 'CODIGO_EESS', 'CODIGO_ADSCRIPCION', 'COD_IIEE', 'TIPO_FAMILIAR',
                     'TIP_FAMILIAR', 'ESTADO_REGISTRO']
for col in numerical_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Convertir columnas de fecha


# Convertir columnas categóricas
categorical_columns = ['TipDoc', 'Estado_Tram_DNI', 'APELLIDO_PATERNO', 'APELLIDO_MATERNO', 'NOMBRES',
                       'Edad_Niño', 'EJE_VIAL', 'DESCRIPCION', 'REFERENCIA_DIRECCION', 'DEPARTAMENTO',
                       'PROVINCIA', 'DISTRITO', 'Nombre_CP', 'AreaCP', 'MENOR_VISITADO', 'MENOR_ENCONTRADO',
                       'FUENTE_DATOS', 'CODIGO_EESS_NACIMIENTO', 'NOMBRE_EESS_NACIMIENTO', 'NOMBRE_EESS',
                       'FRECUENCIA_ATENCION', 'NOMBRE_ADSCRIPCION', 'TIP_SEGURO', 'PROGRAMAS_SOCIALES',
                       'NOMBRE_IIEE', 'Tip_Doc_Madre', 'DNI_MADRE', 'APELLIDO_PATERNO_MADRE',
                       'APELLIDO_MATERNO_MADRE', 'NOMBRES_MADRE_EDAD', 'Nro_Celuar', 'CORREO_ELECTRONICO',
                       'GRADO_INSTRUCCION_MADRE', 'LENGUA_HABITUAL_MADRE', 'Tip_Doc_Familiar',
                       'DNI_JEFE_FAMILIA', 'APELLIDO_PATERNO_JEFE_FAMILIA', 'APELLIDO_MATERNO_JEFE_FAMILIA',
                       'NOMBRES_JEFE_FAMILIA', 'USUARIO', 'USUARIO_MODIFICA', 'ENTIDAD', 'TIPO_REGISTRO']
for col in categorical_columns:
    df[col] = df[col].astype('category')

In [16]:
conn.insertar_dataframe(df, 'TABLA_PADRON_NOMINAL', if_exists='replace')

✅ DataFrame insertado correctamente en 'TABLA_PADRON_NOMINAL'

In [ ]:
his=conn.ejecutar_sql('select * from DBGERESA.dbo.TABLA_PADRON_NOMINAL',retornar_datos=True)
if his is not None:
    dfh = pd.DataFrame(his)
dfh.head(5)

Empty DataFrame
Columns: []
Index: []