In [35]:

from decouple import config
import pandas as pd
import numpy as np
import sys
sys.path.insert(0, config('PROYECTO_DIR'))
from clases.bd.conexion import  SQLServerConnector
conn = SQLServerConnector()
from sqlalchemy.types import (
    BigInteger, Integer, SmallInteger, String, Date, DateTime, Numeric, CHAR,VARCHAR,DATE,DATETIME,NVARCHAR
)

✅ Conexión exitosa a SQL Server

In [36]:
# Ruta del archivo Excel (puede ser relativa o absoluta)
archivo = config('PROYECTO_DATA') +"/data/Padron_N/PN_cusco.xlsx"

# Leer el archivo
df = pd.read_excel(archivo)

columnas = [
    "N°", "TipDoc", "COD_CNV", "CNV", "CUI", "DNI", "Estado_Tram_DNI", "Fecha_Tramite_DNI",
    "APELLIDO_PATERNO", "APELLIDO_MATERNO", "NOMBRES", "COD_SEXO", "FECHA_NACIMIENTO", "Edad_Niño",
    "EJE_VIAL", "DESCRIPCION", "REFERENCIA_DIRECCION","LATITUD","LONGITUD", "UBIGEO", "DEPARTAMENTO", "PROVINCIA", "DISTRITO",
    "CodCentroPoblado", "Nombre_CP", "AreaCP", "MENOR_VISITADO", "MENOR_ENCONTRADO", "FECHA _VISITA",
    "FUENTE_DATOS", "FECHA_FUENTE", "CODIGO_EESS_NACIMIENTO", "NOMBRE_EESS_NACIMIENTO", "CODIGO_EESS",
    "NOMBRE_EESS", "FRECUENCIA_ATENCION", "CODIGO_ADSCRIPCION", "NOMBRE_ADSCRIPCION", "TIP_SEGURO",
    "PROGRAMAS_SOCIALES", "COD_IIEE", "NOMBRE_IIEE", "TIPO_FAMILIAR", "Tip_Doc_Madre", "DNI_MADRE",
    "APELLIDO_PATERNO_MADRE", "APELLIDO_MATERNO_MADRE", "NOMBRES_MADRE_EDAD", "Nro_Celuar",
    "CORREO_ELECTRONICO", "GRADO_INSTRUCCION_MADRE", "LENGUA_HABITUAL_MADRE", "TIP_FAMILIAR",
    "Tip_Doc_Familiar", "DNI_JEFE_FAMILIA", "APELLIDO_PATERNO_JEFE_FAMILIA", "APELLIDO_MATERNO_JEFE_FAMILIA",
    "NOMBRES_JEFE_FAMILIA", "ESTADO_REGISTRO", "FECHA_REGISTRO", "USUARIO", "FECHA_MODIFICACION",
    "USUARIO_MODIFICA", "ENTIDAD", "TIPO_REGISTRO"
]
df.columns = columnas
df.head(5)
len(df)

118284

In [37]:
# Limpiar espacios en los nombres de columna
df.columns = df.columns.str.strip()

# Convertir columnas numéricas
numerical_columns = ['N°', 'COD_CNV', 'CNV', 'CUI', 'DNI', 'COD_SEXO', 'LATITUD', 'LONGITUD', 'UBIGEO',
                     'CodCentroPoblado', 'CODIGO_EESS', 'CODIGO_ADSCRIPCION', 'COD_IIEE', 'TIPO_FAMILIAR',
                     'TIP_FAMILIAR', 'ESTADO_REGISTRO']
for col in numerical_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Convertir columnas de fecha


# Convertir columnas categóricas
categorical_columns = ['TipDoc', 'Estado_Tram_DNI', 'APELLIDO_PATERNO', 'APELLIDO_MATERNO', 'NOMBRES',
                       'Edad_Niño', 'EJE_VIAL', 'DESCRIPCION', 'REFERENCIA_DIRECCION', 'DEPARTAMENTO',
                       'PROVINCIA', 'DISTRITO', 'Nombre_CP', 'AreaCP', 'MENOR_VISITADO', 'MENOR_ENCONTRADO',
                       'FUENTE_DATOS', 'CODIGO_EESS_NACIMIENTO', 'NOMBRE_EESS_NACIMIENTO', 'NOMBRE_EESS',
                       'FRECUENCIA_ATENCION', 'NOMBRE_ADSCRIPCION', 'TIP_SEGURO', 'PROGRAMAS_SOCIALES',
                       'NOMBRE_IIEE', 'Tip_Doc_Madre', 'DNI_MADRE', 'APELLIDO_PATERNO_MADRE',
                       'APELLIDO_MATERNO_MADRE', 'NOMBRES_MADRE_EDAD', 'Nro_Celuar', 'CORREO_ELECTRONICO',
                       'GRADO_INSTRUCCION_MADRE', 'LENGUA_HABITUAL_MADRE', 'Tip_Doc_Familiar',
                       'DNI_JEFE_FAMILIA', 'APELLIDO_PATERNO_JEFE_FAMILIA', 'APELLIDO_MATERNO_JEFE_FAMILIA',
                       'NOMBRES_JEFE_FAMILIA', 'USUARIO', 'USUARIO_MODIFICA', 'ENTIDAD', 'TIPO_REGISTRO']
for col in categorical_columns:
    df[col] = df[col].astype('category')

In [38]:
conn.insertar_dataframe(df, 'TABLA_PADRON_NOMINAL', if_exists='replace')

✅ DataFrame insertado correctamente en 'TABLA_PADRON_NOMINAL'

In [39]:
df.head(5)

,N°,TipDoc,COD_CNV,CNV,CUI,DNI,Estado_Tram_DNI,Fecha_Tramite_DNI,APELLIDO_PATERNO,APELLIDO_MATERNO,...,APELLIDO_PATERNO_JEFE_FAMILIA,APELLIDO_MATERNO_JEFE_FAMILIA,NOMBRES_JEFE_FAMILIA,ESTADO_REGISTRO,FECHA_REGISTRO,USUARIO,FECHA_MODIFICACION,USUARIO_MODIFICA,ENTIDAD,TIPO_REGISTRO
0,1,"2,3,4",15428115,94242689.0,94242689.0,NaN,NO INICIO TRAMITE,NaN,PONAYLOS,SERRANO,...,PONAYLOS,CHARA,HEMERSON,1,12/05/2025,SERVICIO CNV,12/05/2025,SERVICIO ACTA,RENIEC,WEB SERVICE
1,2,"2,3,4",15428106,94242680.0,94242680.0,NaN,NO INICIO TRAMITE,NaN,CHOQQUEMAMANI,CONDORI,...,CHOQQUEMAMANI,MAMANI,HIGOR,1,12/05/2025,SERVICIO CNV,12/05/2025,SERVICIO ACTA,RENIEC,WEB SERVICE
2,3,"2,3,4",15427597,94242168.0,94242168.0,NaN,NO INICIO TRAMITE,NaN,CALSINA,CJUNO,...,CALSINA,ZAMATA,GILBERTO,1,11/05/2025,SERVICIO CNV,12/05/2025,SERVICIO ACTA,RENIEC,WEB SERVICE
3,4,"1,2,3,4",15427763,94242334.0,94242334.0,94242334.0,NO INICIO TRAMITE,NaN,AGUILAR,QUISPE,...,AGUILAR,CHIRINOS,ARNOLD ARMANDO,1,11/05/2025,SERVICIO CNV,12/05/2025,41706925,MUNICIPIO,REGISTRO MANUAL
4,5,"2,3,4",15427806,94242379.0,94242379.0,NaN,NO INICIO TRAMITE,NaN,CCORA,CHACCA,...,CCORA,CARLOS,FRANK,1,11/05/2025,SERVICIO CNV,12/05/2025,SERVICIO ACTA,RENIEC,WEB SERVICE